.listItem {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #1f1f2f;
  border: 1px solid #334155;
  border-radius: 5px;
}

.listButtonNV {
  background-color: #3b82f6;
  height: 40px;
  width: 100px;
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.listButtonV {
  height: 40px;
  width: 100px;
  padding: 5px 10px;
  color: #334155;
  background-color: #1f1f2f;
  border: none;
  border-radius: 3px;
}
